## Creating confidence intervals in python
In this assessment, you will look at data from a study on toddler sleep habits. 

The confidence intervals you create and the questions you answer in this Jupyter notebook will be used to answer questions in the following graded assignment.

**IMPORTANT NOTE**: In this assessment, you will need to calculate a standard deviation. The Numpy and Pandas libraries both include a function or method to peform this calculation. But they use different values for a parameter called the Degrees of Freedom or DDOF. The value of DDOF to use for this assignment is 0.

**Numpy**

The numpy.std() uses a default DDOF of 0. Using numpy.std() is recommended for this assignment because it already uses the appropriate DDOF.

https://numpy.org/doc/stable/reference/generated/numpy.std.html

**Pandas**

The pandas.dataframe.std uses a default DDOF of 1, which is NOT appropriate for this assigment. If you want to use pandas.dataframe.std then you need to set the DDOF parameter argument to 0.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.std.html

In [6]:
import numpy as np
import pandas as pd
from scipy.stats import t
pd.set_option('display.max_columns', 30) # set so can see all columns of the DataFrame

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Your goal is to analyse data which is the result of a study that examined
differences in a number of sleep variables between napping and non-napping toddlers. Some of these
sleep variables included: Bedtime (lights-off time in decimalized time), Night Sleep Onset Time (in
decimalized time), Wake Time (sleep end time in decimalized time), Night Sleep Duration (interval
between sleep onset and sleep end in minutes), and Total 24-Hour Sleep Duration (in minutes). Note:
[Decimalized time](https://en.wikipedia.org/wiki/Decimal_time) is the representation of the time of day using units which are decimally related.   


The 20 study participants were healthy, normally developing toddlers with no sleep or behavioral
problems. These children were categorized as napping or non-napping based upon parental report of
childrenâ€™s habitual sleep patterns. Researchers then verified napping status with data from actigraphy (a
non-invasive method of monitoring human rest/activity cycles by wearing of a sensor on the wrist) and
sleep diaries during the 5 days before the study assessments were made.


You are specifically interested in the results for the Bedtime, Night Sleep Duration, and Total 24-
Hour Sleep Duration.

Reference: Akacem LD, Simpkin CT, Carskadon MA, Wright KP Jr, Jenni OG, Achermann P, et al. (2015) The Timing of the Circadian Clock and Sleep Differ between Napping and Non-Napping Toddlers. PLoS ONE 10(4): e0125181. https://doi.org/10.1371/journal.pone.0125181

In [64]:
# Import the data (use this if running your Jupyter notebook within Coursera)
df = pd.read_csv("nap_no_nap.csv")

In [3]:
# Imort the data (uncomment the line below and use this if you downloaded the Jupyter notebook)
# df = pd.read_csv("https://raw.githubusercontent.com/UMstatspy/UMStatsPy/master/Course_2/nap_no_nap.csv")

In [35]:
60*(24 - 20.68 + 7.17)

629.4

In [13]:
# First, look at the DataFrame to get a sense of the data
df.head(8)

,id,sex,age (months),dlmo time,days napped,napping,nap lights outl time,nap sleep onset,nap midsleep,nap sleep offset,nap wake time,nap duration,nap time in bed,night bedtime,night sleep onset,sleep onset latency,night midsleep time,night wake time,night sleep duration,night time in bed,24 h sleep duration,bedtime phase difference,sleep onset phase difference,midsleep phase difference,wake time phase difference
0,1,female,33.7,19.24,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.45,20.68,0.23,1.92,7.17,629.4,643.0,629.40,-1.21,-1.44,6.68,11.93
1,2,female,31.5,18.27,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.23,19.48,0.25,1.09,6.69,672.4,700.4,672.40,-0.96,-1.21,6.82,12.42
2,3,male,31.9,19.14,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.60,20.05,0.45,1.29,6.53,628.8,682.6,628.80,-0.46,-0.91,6.15,11.39
3,4,female,31.6,19.69,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.46,19.50,0.05,1.89,8.28,766.6,784.0,766.60,0.23,0.19,6.20,12.59
4,5,female,33.0,19.52,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.21,19.65,0.45,1.30,6.95,678.0,718.0,678.00,0.31,-0.13,5.78,11.43
5,6,female,36.2,18.22,4,1,14.00,14.22,15.00,15.78,16.28,93.75,137.0,19.95,20.25,0.29,1.26,6.28,602.2,653.8,695.95,-1.73,-2.03,7.05,12.06
6,7,male,36.3,19.28,1,1,14.75,15.03,15.92,16.80,16.08,106.00,80.0,20.60,20.96,0.36,2.12,7.27,618.4,655.4,724.40,-1.32,-1.68,6.84,11.99
7,8,male,30.0,21.06,5,1,13.09,13.43,14.44,15.46,15.82,121.60,163.8,22.01,22.53,0.51,2.92,7.31,526.8,582.4,648.40,-0.95,-1.47,5.86,10.25

**Question**: What variable is used in the column 'napping' to indicate a toddler takes a nap? 1  
**Question**: What is the sample size $n$? What is the sample size for toddlers who nap, $n_1$, and toddlers who don't nap, $n_2$?  
$n_1$ = 15,
$n_2$ = 5

In [47]:
df['napping'].value_counts()

1    15
0     5
Name: napping, dtype: int64

In [29]:
df.columns

Index(['id', 'sex', 'age (months)', 'dlmo time', 'days napped', 'napping',
       'nap lights outl time', 'nap sleep onset', 'nap midsleep',
       'nap sleep offset', 'nap wake time', 'nap duration', 'nap time in bed',
       'night bedtime', 'night sleep onset', 'sleep onset latency',
       'night midsleep time', 'night wake time', 'night sleep duration',
       'night time in bed', '24 h sleep duration', 'bedtime phase difference',
       'sleep onset phase difference', 'midsleep phase difference',
       'wake time phase difference'],
      dtype='object')

### Average bedtime confidence interval for napping and non napping toddlers
Create two 95% confidence intervals for the average bedtime, one for toddler who nap and one for toddlers who don't.

Before any analysis, we will convert 'night bedtime' into decimalized time.

In [34]:
t = 7.89
np.floor(t)*60 + np.round(t%1,2 )*60

473.4

In [48]:
# Convert 'night bedtime' into decimalized time
# 'night_bedtime' is the time when the toddlers went to sleep
df.loc[:,'night bedtime'] = np.floor(df['night bedtime'])*60 + np.round(df['night bedtime']%1,2 )*60

Now, isolate the column 'night bedtime' for those who nap into a new variable, and those who didn't nap into another new variable.

In [65]:
bedtime_nap = df[df['napping'] == 1]['night bedtime']

In [66]:
bedtime_no_nap = df[df['napping'] == 0]['night bedtime']

Now find the sample mean bedtime for nap and no_nap.

In [67]:
nap_mean_bedtime = np.mean(bedtime_nap)
nap_mean_bedtime

20.304

In [68]:
no_nap_mean_bedtime = np.mean(bedtime_no_nap)
no_nap_mean_bedtime

19.590000000000003

Now find the standard error for $\bar{X}_{nap}$ and $\bar{X}_{no\ nap}$.

In [69]:
import math

In [70]:
nap_std_bedtime = np.std(bedtime_nap)
nap_se_mean_bedtime = nap_std_bedtime/math.sqrt(15)

In [71]:
no_nap_std_bedtime = np.std(bedtime_no_nap)
no_nap_se_mean_bedtime = no_nap_std_bedtime/math.sqrt(5)

**Question**: Given our sample sizes of $n_1$ and $n_2$ for napping and non napping toddlers respectively, how many degrees of freedom ($df$) are there for the associated $t$ distributions?

To build a 95% confidence interval, what is the value of t\*?  You can find this value using the percent point function: 
```
from scipy.stats import t

t.ppf(probabiliy, df)
```
This will return the quantile value such that to the left of this value, the tail probabiliy is equal to the input probabiliy (for the specified degrees of freedom).

Example: to find the $t^*$ for a 90% confidence interval, we want $t^*$ such that 90% of the density of the $t$ distribution lies between $-t^*$ and $t^*$.

Or in other words if $X \sim t(df)$:
```
$P(-t^*< X < t^*) = .90$  
```
Which, because the $t$ distribution is symmetric, is equivalent to finding $t^*$ such that:  
```
$P(X < t^*) = .95$
```
So the $t^*$ for a 90% confidence interval, and lets say df=10, will be:
```
t_star = t.ppf(.95, df=10)
```

In [72]:
from scipy.stats import t
# Find the t_stars for the 95% confidence intervals
nap_t_star = t.ppf(0.975, df=14)
nap_t_star

2.1447866879169273

In [73]:
no_nap_t_star = t.ppf(0.975, df=4)
no_nap_t_star

2.7764451051977987

##### check if the t* values make sense?

**Quesion**: What is $t^*$ for nap and no nap?

Now to create our confidence intervals. For the average bedtime for nap and no nap, find the upper and lower bounds for the respective confidence intervals.

In [74]:
# nap

nap_lcb = nap_mean_bedtime - nap_t_star * nap_se_mean_bedtime
nap_ucb = nap_mean_bedtime + nap_t_star * nap_se_mean_bedtime
print(f"The 95% confidence interval for average bedtime for napping toddlers is {nap_lcb, nap_ucb}")



# no - nap
no_nap_lcb = no_nap_mean_bedtime - no_nap_t_star * no_nap_se_mean_bedtime
no_nap_ucb = no_nap_mean_bedtime + no_nap_t_star * no_nap_se_mean_bedtime
print(f"The 95% confidence interval for average bedtime for non-napping toddlers is {no_nap_lcb, no_nap_ucb}")

The 95% confidence interval for average bedtime for napping toddlers is (19.98777958674484, 20.620220413255158)
The 95% confidence interval for average bedtime for non-napping toddlers is (19.026279074956577, 20.15372092504343)

**Question**: What are the 95% confidence intervals, rounded to the nearest ten, for the average bedtime (in decimalized time) for toddlers who nap and for toddlers who don't nap? 

CI = $\bar{X} \pm \ t^* \cdot s.e.(\bar{X})$

**Challenge problem**: Write a function that inputs the column containing the data you want to build your confidence interval from and returns the confidence interval as a list or tuple (i.e. \[upper, lowe\] or (upper, lower)).